name: Build, Push & Deploy Docker Images

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build BACKEND
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ghcr.io/ikhzan-devops/todo-list/backend:latest

      # Build FRONTEND
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ghcr.io/ikhzan-devops/todo-list/frontend:latest

      # Deploy via SSH
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Pulling latest images..."
            docker pull ghcr.io/ikhzan-devops/todo-list/backend:latest
            docker pull ghcr.io/ikhzan-devops/todo-list/frontend:latest
            
            echo "Stopping old containers..."
            docker stop backend || true
            docker rm backend || true
            docker stop frontend || true
            docker rm frontend || true
            
            echo "Running new containers..."
            docker run -d --name backend -p 5000:5000 ghcr.io/ikhzan-devops/todo-list/backend:latest
            docker run -d --name frontend -p 3000:3000 ghcr.io/ikhzan-devops/todo-list/frontend:latest
